node_modules
ios
android
.vscode
.idea
.DS_Store
package.json
*.jpg
*.ico
*.svg
*.mp3
*.png
*.snap
dist
public
CHANGELOG.md

node_modules
dist
coverage
.eslintcache
tsconfig.json
package.json
package-lock.json
.prettierrc.json
/dist
/node_modules
.env
/.env 
.env.*
out
dist
drizzle
/drizzle